---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Header

.site-nav2 {
  float: right;
  line-height: 54px;
  text-align: right;
 
}

.site-nav2 a {
   color: #111 !important;
   margin: 5px 13px 8px 5px;
   text-decoration: underline;
}

// homePage

@media (max-width: 620px) {
	
	.jumbotron-pic img {
		display: none;
	}

	.jumbotron-intro{
      margin-right: 40px !important;
      margin-left: 5%;
      width: 100%;
	}

	.inner-centered {
		display: inline !important;
	}

	.column {
		width: 100% !important;
	}

}

.column {
  float: left;
  width: 50%;
  padding: 0px;	
  margin-bottom: 15px;
  margin-top: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.outer-jumbo{
}

.jumbotron {
  display:flex;
  min-height: 250px;
  border-bottom: 1px solid #283149;
  margin-top: 3%;
}

.jumbotron-pic {
  flex: 1;
  display:flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-pic img {
  width: 350px;
  border-radius: 6%;
  border: 2px solid #283149;
}

.jumbotron-intro {
  flex: 2;
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 100px;
  margin-left: 5%;
}

.jumbotron-intro h1 {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 15px;
}

.jumbotron-intro p {
  font-size: 1.2em;
  line-height: 2em;
}

.centered-buttons{
	display: block;
	float: left;
	margin: 2%;
	width: 100%;
	text-align: center;
}

.inner-centered{
  display: inline-block; 
  margin: 0 auto;
  padding: 3px;
  margin-left: 25px;
  width: 80%;
}

.inner-centered a {
  	background-color: #0e2e85;
  	color: white;
  	border-radius: 8px;
  	margin: 15px;
  	padding: 10px;
  	box-shadow: 1px 1px 2px #888888;
  	font-weight: bold;
  }

#btn-even {
	background-color: #ff7800;
}


.post-home-title {
	margin-bottom: 3px !important;
}

// Blog Page

.post-link h3 {
	margin-bottom: 3px !important;
}


// Projects Page

@media (max-width: 620px) {
	
	.card {
		width: 95% !important;
	}

}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('imgs/Kapytalize.jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}



.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #e5ebfb;
  width: 85%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    
}

.card__info {
z-index: 2;
  background-color: #f4f6fe;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.proj-list {
	list-style-type: none;
	margin-left: 0px !important;
}

.proj-desc {
	font-size: 90% !important;
}

#btn-project {
	background-color: #3064f3;
	margin: 50px !important;
}

// About

.about-ps {
	font-size: 94% !important;
	font-weight: 600 !important;
	color: #0443f1 !important;
}




