---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="outer-jumbo">

     <div class="jumbotron">
        <div class="jumbotron-pic">
          <img src="/assets/imgs/pessoal1.jpeg" alt="">
        </div>
        <div class="jumbotron-intro">
          <h1>Hello, I'm&nbsp;<span style="font-weight:500; color:#283149">Fernando</span></h1>
          <p>I love working with <strong>data products</strong> and <strong> data analysis</strong>  and sometimes and I venture myself 
            in some <strong> web dev projects</strong> . In my spare time
            I like to learn new technologies and watch eSports ;) Nice to meet you!
          </p>
        </div>
      </div><!-- end jumbotron -->

    <div class="centered-buttons">
      <p>Check out my most recent work in:</p>
      <div class="inner-centered">
          <a id="btn-odd"  href="/blog/">Data Analysis & Writing</a>
          <a id="btn-even"  href="/projects/">Web Dev Projects</a>
      </div>
    </div>

  </div>
  

</div>
